<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997471303965-m1muodc8c767fssi8i1tdb3ceqe4u73s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997471303965-m1muodc8c767fssi8i1tdb3ceqe4u73s</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>997471303965-bjo9lvv8pkqq4pnbrhth2gmmatk81mth.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAO7jkdG9vTZDro4kuAvGIquxXHqZeOT_0</string>
	<key>GCM_SENDER_ID</key>
	<string>997471303965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myApp</string>
	<key>PROJECT_ID</key>
	<string>project-59357</string>
	<key>STORAGE_BUCKET</key>
	<string>project-59357.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997471303965:ios:30c59de40bcfd0dbbb49f4</string>
</dict>
</plist>